@property --rotate {
  syntax: "<angle>";
  initial-value: 10deg;
  inherits: false;
}

:root {
  --card-height: 25vh;
  --card-width: calc(var(--card-height) / 1.5);
  --colors-chiefs: rgb(227, 24, 55), rgb(255, 184, 28);
  --colors-eagles: rgb(0, 76, 84), rgb(165, 172, 175), rgb(186, 202, 211),
    rgb(0, 0, 0), rgb(95, 96, 98);
  --colors-patriots: rgb(198, 12, 48), rgb(176, 183, 183), rgb(0, 34, 68);
  --colors-seahawks: rgb(0, 34, 68), rgb(165, 172, 175), rgb(105, 190, 40);
  --colors-falcons: rgb(167, 25, 48), rgb(165, 172, 175), rgb(0, 0, 0);
  --colors-commanders: rgb(90, 20, 20), rgb(255, 182, 18);
  --colors-bengals: rgb(251, 79, 20), rgb(0, 0, 0);
  --colors-packers: rgb(24, 48, 40), rgb(255, 184, 28);
  --colors-raiders: rgb(0, 0, 0), rgb(165, 172, 175);
  --colors-texans: rgb(3, 32, 47), rgb(167, 25, 48);
  --colors-vikings: rgb(79, 38, 131), rgb(255, 198, 47);
  --colors-broncos: rgb(0, 34, 68), rgba(251, 79, 20);
  --colors-cowboys: rgb(0, 53, 148), rgb(134, 147, 151), rgb(0, 34, 68),
    rgb(127, 150, 149), rgb(255, 255, 255);
  --colors-giants: rgb(163, 13, 45), rgb(155, 161, 162), rgb(1, 35, 82);
  --colors-lions: rgb(0, 118, 182), rgb(176, 183, 188), rgb(0, 0, 0);
  --colors-bears: rgb(11, 22, 42), rgb(200, 56, 3);
  --colors-bills: rgb(198, 12, 48), rgb(0, 51, 141);
  --colors-panthers: rgb(16, 24, 32), rgb(191, 192, 191), rgb(0, 133, 202);
  --colors-dolphins: rgb(0, 142, 151), rgb(252, 76, 2), rgb(0, 87, 120);
  --colors-steelers: rgb(16, 24, 32), rgb(255, 182, 18), rgb(0, 48, 135),
    rgb(198, 12, 48), rgb(165, 172, 175);
  --colors-colts: rgb(0, 44, 95), rgb(162, 170, 173);
  --colors-ravens: rgb(26, 25, 95), rgb(0, 0, 0), rgb(158, 124, 12),
    rgb(198, 12, 14);
  --colors-jets: rgb(18, 87, 64), rgb(255, 255, 255), rgb(0, 0, 0);
  --colors-browns: rgb(49, 29, 0), rgb(255, 255, 255), rgb(255, 60, 0);
  --colors-49ers: rgb(170, 0, 0), rgba(173, 153, 93);
  --colors-cardinals: rgb(151, 35, 63), rgb(0, 0, 0), rgb(255, 182, 18);
  --colors-titans: rgb(12, 35, 64), rgb(84, 88, 90), rgb(75, 146, 219),
    rgb(200, 16, 46), rgb(138, 141, 143), rgb(162, 170, 173);
  --colors-jaguars: rgb(16, 24, 32), rgb(215, 162, 42), rgb(0, 103, 120),
    rgb(159, 121, 44);
  --colors-chargers: rgb(0, 128, 198), rgb(255, 255, 255), rgb(255, 194, 14);
  --colors-rams: rgb(0, 53, 148), rgb(255, 130, 0), rgb(255, 163, 0),
    rgb(255, 209, 0), rgb(255, 255, 255);
  --colors-buccaneers: rgb(213, 10, 10), rgb(255, 121, 0), rgb(10, 10, 8),
    rgb(177, 186, 191), rgb(52, 48, 43);
  --colors-saints: rgb(211, 188, 141), rgb(16, 24, 32);
}

.card {
  background: #3e3b3b;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.5em;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 4rem;
  color: white;
  box-sizing: border-box;
  position: static;
  z-index: -1;
  top: 100%;
  left: -2%;
  animation: spin 30s linear infinite;
}

.favoriteButton {
  color: #3e3b3b;
}

.favoriteButton:hover {
  cursor: crosshair;
}

#card-container .card:first-child {
  border:10px solid rgb(255, 184, 28);
  padding: 10px;
  border-radius: 6px;
  font-size: 1.5em;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 4rem;
  color: white;
  box-sizing: border-box;
  position: static;
  z-index: -1;
  top: 100%;
  left: -2%;
  animation: spin 30s linear infinite;
  background-image: linear-gradient(var(--rotate), var(--colors-steelers));
 }

#chicago-bears {
  background-image: linear-gradient(var(--rotate), var(--colors-bears));
}

#houston-texans {
  background-image: linear-gradient(var(--rotate), var(--colors-texans));
}

#arizona-cardinals {
  background-image: linear-gradient(var(--rotate), var(--colors-cardinals));
}

#indianapolis-colts {
  background-image: linear-gradient(var(--rotate), var(--colors-colts));
}

#los-angeles-rams {
  background-image: linear-gradient(var(--rotate), var(--colors-rams));
}

#denver-broncos {
  background-image: linear-gradient(var(--rotate), var(--colors-broncos));
}

#las-vegas-raiders {
  background-image: linear-gradient(var(--rotate), var(--colors-raiders));
}

#atlanta-falcons {
  background-image: linear-gradient(var(--rotate), var(--colors-falcons));
}

#carolina-panthers {
  background-image: linear-gradient(var(--rotate), var(--colors-panthers));
}

#cleveland-browns {
  background-image: linear-gradient(var(--rotate), var(--colors-browns));
}

#new-orleans-saints {
  background-image: linear-gradient(var(--rotate), var(--colors-saints));
}

#new-york-jets {
  background-image: linear-gradient(var(--rotate), var(--colors-jets));
}

#tennessee-titans {
  background-image: linear-gradient(var(--rotate), var(--colors-titans));
}

#green-bay-packers {
  background-image: linear-gradient(var(--rotate), var(--colors-packers));
}

#tampa-bay-buccaneers {
  background-image: linear-gradient(var(--rotate), var(--colors-buccaneers));
}

#washington-commanders {
  background-image: linear-gradient(var(--rotate), var(--colors-commanders));
}

#detroit-lions {
  background-image: linear-gradient(var(--rotate), var(--colors-lions));
}

#jacksonville-jaguars {
  background-image: linear-gradient(var(--rotate), var(--colors-jaguars));
}

#miami-dolphins {
  background-image: linear-gradient(var(--rotate), var(--colors-dolphins));
}

#new-york-giants {
  background-image: linear-gradient(var(--rotate), var(--colors-giants));
}

#pittsburgh-steelers {
  background-image: linear-gradient(var(--rotate), var(--colors-steelers));
}

#seattle-seahawks {
  background-image: linear-gradient(var(--rotate), var(--colors-seahawks));
}

#baltimore-ravens {
  background-image: linear-gradient(var(--rotate), var(--colors-ravens));
}

#los-angeles-chargers {
  background-image: linear-gradient(var(--rotate), var(--colors-chargers));
}

#cincinnati-bengals {
  background-image: linear-gradient(var(--rotate), var(--colors-bengals));
}

#dallas-cowboys {
  background-image: linear-gradient(var(--rotate), var(--colors-cowboys));
}

#buffalo-bills {
  background-image: linear-gradient(var(--rotate), var(--colors-bills));
}

#minnesota-vikings {
  background-image: linear-gradient(var(--rotate), var(--colors-vikings));
}

#new-england-patriots {
  background-image: linear-gradient(var(--rotate), var(--colors-patriots));
}

#san-francisco-49ers {
  background-image: linear-gradient(var(--rotate), var(--colors-49ers));
}

#kansas-city-chiefs {
  background-image: linear-gradient(var(--rotate), var(--colors-chiefs));
}

#philadelphia-eagles {
  background-image: linear-gradient(var(--rotate), var(--colors-eagles));
}



@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  50% {
    --rotate: 180deg;
  }
  100% {
    --rotate: 360%;
  }
}