@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 25vh;
    --card-width: calc(var(--card-height) / 1.5);
    --colors-chiefs: rgb(227, 24,55), rgb(255, 184, 28);
    --colors-eagles: rgb(0, 76, 84), rgb(165, 172, 175), rgb(186, 202, 211), rgb(0, 0, 0), rgb(95, 96, 98);
    --colors-patriots: rgb(198, 12, 48), rgb(176, 183, 183), rgb(0, 34, 68);
    --colors-seahawks: rgb(0, 34, 68), rgb(165, 172, 175), rgb(105, 190, 40);
    --colors-falcons: rgb(167, 25, 48), rgb(165, 172, 175), rgb(0, 0, 0);
    --colors-commanders: rgb(90, 20, 20), rgb(255, 182, 18);
    --colors-bengals: rgb(251, 79, 20), rgb(0, 0, 0);
    --colors-packers: rgb(24, 48, 40), rgb(255, 184, 28);
    --colors-raiders: rgb(0, 0, 0), rgb(165, 172, 175);
    --colors-texans: rgb(3, 32, 47), rgb(167, 25, 48);
    --colors-vikings: rgb(79, 38, 131), rgb(255, 198, 47);
    --colors-broncos: rgb(0, 34, 68), rgba(251, 79, 20);
    --colors-cowboys: rgb(0, 53, 148), rgb(134, 147, 151), rgb(0, 34, 68), rgb(127, 150, 149), rgb(255, 255, 255);
    --colors-giants: rgb(163, 13, 45), rgb(155, 161, 162), rgb(1, 35, 82);
    --colors-lions: rgb(0, 118, 182), rgb(176, 183, 188), rgb(0, 0, 0);
    --colors-bears: rgb(11, 22, 42), rgb(200, 56, 3);
    --colors-bills: rgb(198, 12, 48), rgb(0, 51, 141);
    --colors-panthers: rgb(16, 24, 32), rgb(191, 192, 191), rgb(0, 133, 202);
    --colors-dolphins: rgb(0, 142, 151), rgb(252, 76, 2), rgb(0, 87, 120);
    --colors-steelers: rgb(16, 24, 32), rgb(255, 182, 18), rgb(0, 48, 135), rgb(198, 12, 48), rgb(165, 172, 175);
    --colors-colts: rgb(0, 44, 95), rgb(162, 170, 173);
    --colors-ravens: rgb(26, 25, 95), rgb(0, 0, 0), rgb(158, 124, 12), rgb(198, 12, 14);
    --colors-jets: rgb(18, 87, 64), rgb(255, 255, 255), rgb(0, 0 ,0);
    --colors-browns: rgb(49, 29, 0), rgb(255, 255, 255), rgb(255, 60, 0);
    --colors-49ers: rgb(170, 0, 0), rgba(173, 153, 93);
    --colors-cardinals: rgb(151, 35, 63), rgb(0, 0, 0), rgb(255, 182, 18);
    --colors-titans: rgb(12, 35, 64), rgb(84, 88, 90), rgb(75, 146, 219), rgb(200, 16, 46), rgb(138, 141, 143), rgb(162, 170, 173);
    --colors-jaguars: rgb(16, 24, 32), rgb(215, 162, 42), rgb(0, 103, 120), rgb(159, 121, 44);
    --colors-chargers: rgb(0, 128, 198), rgb(255, 255, 255), rgb(255, 194, 14);
    --colors-rams: rgb(0, 53, 148), rgb(255, 130, 0), rgb(255, 163, 0), rgb(255, 209, 0), rgb(255, 255, 255);
    --colors-buccaneers: rgb(213, 10, 10),rgb(255, 121, 0), rgb(10, 10, 8), rgb(177, 186, 191), rgb(52, 48, 43);
    --colors-saints: rgb(211, 188, 141), rgb(16, 24, 32);
  }
  
  
  body {
    min-height: 100vh;
    background: #000000;
    display:flex;
    align-items:flex-start;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
.wrapper {
display: grid;
grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

  .card {
    background: #3e3b3b;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position:relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    color: black;
    /* transition: color 0.5s; */
  }
  
  .card:hover {

  }
  
  /* .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-raiders));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-raiders));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  } */
  #raiders::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-raiders));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #raiders::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-raiders));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #chiefs::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-chiefs));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #chiefs::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-chiefs));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }
  
  #chargers::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-chargers));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #chargers::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-chargers));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #broncos::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-broncos));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #broncos::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-broncos));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #colts::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-colts));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #colts::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-colts));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #vikings::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-vikings));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #vikings::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-vikings));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #packers::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-packers));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #packers::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-packers));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #ravens::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-ravens));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #ravens::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-ravens));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #eagles::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-eagles));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #eagles::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-eagles));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #patriots::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-patriots));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #patriots::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-patriots));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #seahawks::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-seahawks));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #seahawks::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-seahawks));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #falcons::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-falcons));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #falcons::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-falcons));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #commanders::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-commanders));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #commanders::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-commanders));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #bengals::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-bengals));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #bengals::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-bengals));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #texans::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-texans));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #texans::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-texans));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #cowboys::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-cowboys));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #commanders::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-cowboys));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #giants::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-giants));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #giants::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-giants));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #lions::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-lions));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #lions::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-lions));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #bears::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-bears));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #bears::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-bears));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #bills::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-bills));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #bills::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-bills));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #panthers::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-panthers));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #panthers::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-panthers));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #dolphins::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-dolphins));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #dolphins::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-dolphins));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #steelers::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-steelers));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #steelers::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-steelers));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #jets::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-jets));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #jets::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-jets));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }
  

  #browns::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-browns));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #browns::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-browns));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #niners::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-49ers));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #niners::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-49ers));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #cardinals::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-cardinals));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #cardinals::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-cardinals));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #titans::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-titans));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #titans::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-titans));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #jaguars::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-jaguars));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #jaguars::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-jaguars));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #rams::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-rams));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #rams::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-rams));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #buccaneers::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-buccaneers));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #buccaneers::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-buccaneers));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }

  #saints::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(
      var(--rotate)
      , var(--colors-saints));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8s linear infinite;
  }
  
  #saints::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      ,var(--colors-saints));
      opacity: 1;
    transition: opacity .1s;
    animation: spin 5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  