#hero {
    background: url('img/pexels-dids-3530101.jpg');
    height: 1079px;
    background-position-x: center;
    background-size: cover;
}

#hero .navbar.is-transparent {
    background-color: transparent;
}
