<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Document</title>
</head>
<body>






  <div class="columns" >
<div class="card column flip-card">
  <div class="card-content flip-card-inner">
    <p class="title">
        <a id="player-position">Position</a>    
    </p>
    <p class="subtitle" id="player-name">
      Name
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Team
        <a id-="player-team"></a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Overall rating <a id="player-rating">
        </a>
    </a>
      </span>
    </p>
  </footer>
  <div class="flip-card-back">
    <p>test</p>
  </div>
</div>
<div class="card column">
  <div class="card-content">
    <p class="title">
        <a id="player-position">Position</a>    
    </p>
    <p class="subtitle" id="player-name">
      Name
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Team
        <a id-="player-team"></a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Overall rating <a id="player-rating">
        </a>
    </a>
      </span>
    </p>
  </footer>
</div>
<div class="card column">
  <div class="card-content">
    <p class="title">
        <a id="player-position">Position</a>    
    </p>
    <p class="subtitle" id="player-name">
      Name
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Team
        <a id-="player-team"></a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Overall rating <a id="player-rating">
        </a>
    </a>
      </span>
    </p>
  </footer>
</div>
</div>
<div class="columns" >
  <div class="card column">
    <div class="card-content">
      <p class="title">
          <a id="player-position">Position</a>    
      </p>
      <p class="subtitle" id="player-name">
        Name
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Team
          <a id-="player-team"></a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Overall rating <a id="player-rating">
          </a>
      </a>
        </span>
      </p>
    </footer>
  </div>
  <div class="card column">
    <div class="card-content">
      <p class="title">
          <a id="player-position">Position</a>    
      </p>
      <p class="subtitle" id="player-name">
        Name
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Team
          <a id-="player-team"></a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Overall rating <a id="player-rating">
          </a>
      </a>
        </span>
      </p>
    </footer>
  </div>
  <div class="card column">
    <div class="card-content">
      <p class="title">
          <a id="player-position">Position</a>    
      </p>
      <p class="subtitle" id="player-name">
        Name
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Team
          <a id-="player-team"></a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Overall rating <a id="player-rating">
          </a>
      </a>
        </span>
      </p>
    </footer>
  </div>
  </div>


  
</body>
</html>
